@model MiPrimeraWebApp.Models.PaisModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Estás seguro de eliminar?</h3>
<div>
    <h4>Página País</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a mi lista", "Index")
        </div>
    }
</div>
